@model Register

@{
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="card-body">
    <h2 class="title">Customer Registration Info</h2>

    <form method="POST" asp-controller="Auth" asp-action="CustomerRegister">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*user name*@
        <div class="input-group">
            <input class="input--style-2" type="text" placeholder="Name" asp-for="UserName">
            <span asp-validation-for="UserName"></span>
        </div>


        @*Email*@
        <div class="input-group">
            <input class="input--style-2" type="email" placeholder="Example@example.com" asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>

        @*Password*@
        <div class="input-group">
            <input class="input--style-2" type="password" placeholder="Password" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <a asp-action="Login" asp-controller="Auth" class="aleardymember ">I am already a memeber.</a>
        <div class="p-t-30">
            <button class="btn btn--radius btn--green" type="submit">Register</button>
        </div>
    </form>
</div>