
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<User> registeredUsers = ViewBag.RegisteredUsers;
    var rowCount = 1;
}

<!--Registered customers-->
<!-- Hover table card start -->
<div class="card">
    <div class="card-header">
        <h5>Registered customers</h5>

    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in registeredUsers)
                    {
                        <tr>
                            <th scope="row">@rowCount</th>
                            <td>@item.Credential.Email</td>
                            <td>@item.UserName</td>
                        </tr>
                        rowCount += 1;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Hover table card end -->