@model VisaChecher
@{
    ViewData["Title"] = "NoEnoughBalance";
    Layout = "~/Views/Shared/_NoBalanceLayout.cshtml";
}



<div class="container mt-3">
 
        <div id="balance-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Warning!</strong> You do not have enough balance.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
</div>


