@model First_project.Models.Homepage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Homepage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="SliderHeader" class="control-label"></label>
                <input asp-for="SliderHeader" class="form-control" />
                <span asp-validation-for="SliderHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SliderParagraph" class="control-label"></label>
                <input asp-for="SliderParagraph" class="form-control" />
                <span asp-validation-for="SliderParagraph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackgroundImagePath" class="control-label"></label>
                <input asp-for="BackgroundImage" class="form-control" />
                <span asp-validation-for="BackgroundImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
